
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-11 container">
          <!-- general form elements -->
          <div  class="card card-primary">
            <div style="background-color:#3498db;" class="card-header">
              <h3 class="card-title">Quick Example</h3>
            </div>
          
            <!-- /.card-header -->
            <!-- form start -->
            <form *ngIf="dept" (submit)="updateData()">
              <div class="card-body">
                <div class="form-group">
                  <label  for="exampleInputEmail1">Nom Department</label>
                  <input [(ngModel)] = "dept.nomDepartment" name="nom" type="text" class="form-control"  placeholder="Nom department"
                  required
                  maxlength="10"
                  #nameD = "ngModel"
                  [ngClass]="{'is-invalid' : nameD.touched && !nameD.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="nameD.errors">
                      Entrer un nom
                    </span>
                  </div>
                  <label  for="exampleInputEmail1">Chef Department</label>
                  <input [(ngModel)] = "dept.chefDepartment" name="chef" type="text" class="form-control"  placeholder="Chef department"
                  required
                  maxlength="8"
                  #chefD = "ngModel"
                  [ngClass]="{'is-invalid' : chefD.touched && !chefD.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="chefD.errors">
                      Entrer un prenom du chef department
                    </span>
                  </div>
                  <label  for="exampleInputEmail1">Nombre des salles </label>
                  <input [(ngModel)] = "dept.nombreSalle" name="nb" type="text" class="form-control"  placeholder="Nombre des salle"
                  required
                  maxlength="5"
                  #salle = "ngModel"
                  [ngClass]="{'is-invalid' : salle.touched && !salle.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="salle.errors?.['required']">
                      Entrer un nombre
                    </span>
                    <span *ngIf="salle.errors?.['maxlength']">
                      Maximum 5 caractères
                    </span>

                  </div>
              
                </div>          
              </div>
              <!-- /.card-body -->
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </div>
            </form>
          </div>


        
