
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-11 container">
              <app-search4 (searchTextChanged)="onSearchTextChanged($event)"></app-search4>
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr  >
                      <th >Universite id</th>
                      <th (click) = "sort('nomUniversite')">Nom universite&nbsp;<i class="fa fa-sort"></i></th>
                      <th>Localisation</th>
                      <th>Region</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody *ngFor ="let u of universites | orderBy: key: reverse  | paginate : {itemsPerPage:5
                      ,
                      currentPage:page,
                      totalItems:totalLength  
                     }" 
                    >
                    <tr *ngIf="searchText === '' || u.nomUniversite.toLowerCase().includes(searchText) " (click)="selectUniversite(u)">
                      <td>{{u.id}}</td>
                      <td>{{u.nomUniversite}}</td>   
                      <td>{{u.localisation}}</td> 
                      <td>{{u.region}}</td>                 
                      <td class="col-4">
                        <button class="btn btn-danger" (click)="deleteUniversite(u.id)">Supprimer</button>&nbsp;
                        <button class="btn btn-warning" [routerLink]="'/dashboard/update-universite/'+u.id" >Modifier</button>&nbsp;
                        <button class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="details(u)">Voir plus</button>
  
                      </td>
                  
                    </tr>
  
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
              <a routerLink="/dashboard/add-universite" class="btn btn-primary">ajouter universite</a>
              <br><br><br>
  

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Détails</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                   
                      
  
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                        <p style="font-weight: bold;"> Universite n° {{universiteData.id}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Nom department : {{universiteData.nomUniversite}}</li>
                          <li class="list-group-item">Nom department : {{universiteData.localisation}}</li>
                          <li class="list-group-item">Nom department : {{universiteData.region}}</li>
                        
                          <!--li class="list-group-item">{{etudiantData.departement}}</li-->
  
                        </ul>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
              <app-selected-universite [universite]="uni"></app-selected-universite>
              </div>
          </div>
          </div>
          </section>
